.border-none{
    border: none;
    }
    
.img-width{
      width: 40px;
}

.Prescription-Details {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 300px; /* Adjust according to the desired width */
    z-index: 1000; /* Ensure it's above other content */
}

